name: tests

on: [push, pull_request]

jobs:
    run-tests:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                php: [8.2, 8.1, 8.0, 7.4]

        name: P${{ matrix.php }}

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  coverage: none

            - name: Install dependencies
              run: |
                  composer update --prefer-dist --no-interaction
                  
            - name: Execute tests
              run: composer test
